/* PREVENIR QUE SE ABRA EL CUADRO DE DIÃLOGO
 DE COPIAR/ABRIR */
a {
	-webkit-touch-callout: none;	/* disable callout, image save panel */
    -webkit-user-select: none;		/* Disable selection/copy in UIWebView */
}

/* EJEMPLO */
.ejemplo {
	color: rgb(180, 180, 180)!important;
	text-align: center!important;
}

/* ERROR */
.error {
	color: #FF8000;
}

.ocultar {
	display: none;
}

/* LINKS */
.links {
	color: #FF8000!important;
}

.links:active {
	color: #FFCC99!important;
}

/* RANGESLIDER */
.ui-bar-b {
	border-color: transparent!important;
}

.ui-slider .ui-btn-active {
    background: #FF8000!important;
}

.ui-rangeslider .ui-btn-active {
    background: #FF8000!important;
}

.ui-slider-track.ui-corner-all {
	border-radius: 1em!important;
}

/* QUITAR SOMBRAS */
.ui-shadow {
	box-shadow: none!important;
}

/* CUADRO DE RESULTADOS */
.ui-popup > .ui-header {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ui-body-b, .cerrar-dialogo {
	border-width: 0px!important;
}

#resultado {
	max-height: 150px!important;
	max-width: 250px!important;
	overflow: auto!important;
}

.centrar {
	text-align: center!important;
}

/* LISTVIEWS */
.ui-listview a {
	font-weight: normal!important;
}

.ui-listview .ui-btn:active, .ui-listview .ui-btn:hover {
	background-color: #f6f6f6!important;
	border-color: #dddddd!important;
}

.ui-listview .ui-btn:active {
	color: #FFCC99!important;
}

/* LABEL Y LEGENDS */
label .ui-btn {
	font-weight: normal!important;
}

legend, label {
	font-weight: normal!important;
}

/* BOTON PARA GENERAR */
.ui-btn-b {
	background-color: #f6f6f6!important;
	border-color: #dddddd!important;
	color: #333333!important;
	text-shadow: none!important;
}

.ui-btn-active {
	background-color: #e8e8e8!important;
	text-shadow: none!important;
}

/* ICONOS */
.ui-nodisc-icon {
	box-shadow: none!important;
	background: none!important;
	border: none!important;
}

.ui-icon-delete:after {
	background-color: #FFCC99!important;
}

.ui-icon-carat-l:after {
	background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFCC99%3B%22%20points%3D%2210.596%2C11.949%205.646%2C7%2010.596%2C2.05%208.475%2C-0.071%201.404%2C7%208.475%2C14.07%20%22%2F%3E%3C%2Fsvg%3E")!important;	
}

.ui-icon-carat-r:after {
	background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFCC99%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E")!important;
}

.ui-btn-icon-right:after {
	background-color: transparent!important;
}

.ui-icon-info:after {
	background-size: 18px 18px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFCC99%22%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C2c0.552%2C0%2C1%2C0.447%2C1%2C1S7.552%2C4%2C7%2C4S6%2C3.553%2C6%2C3%20S6.448%2C2%2C7%2C2z%20M9%2C11H5v-1h1V6H5V5h3v5h1V11z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E")!important;
}
